:root {
  --color-accent: #5eead4;
  --background-accent: rgba(45, 212, 191, 0.1);
  --color-highlight: #e2e8f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
html{
  scroll-behavior: smooth;
}
p,
h2 {
  line-height: 1.5rem;
}

h2 {
  font-size: 0.9rem;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
a::selection {
    background: var(--color-accent);
    color: #0f172a;
}

body {
  background: #0f172a;
  color: #94a3b8;
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 6rem;
}

.underlay {
  position: fixed;
  inset: 0;
  background-color: #172554;
  opacity: 0.15;
}

header,
main,
footer {
  position: relative;
  z-index: 10;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}
header h1,
header h4,
.light-text {
  color: var(--color-highlight);
}
header > a {
  font-weight: 700;
  font-size: x-large;
  text-decoration: none;
}

header h4 {
  font-weight: 500;
}

main{
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#about-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.experience-container,
.project-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience-card ,
.project-card{
  display: grid;
  grid-template-columns: repeat(1 , minmax(0 , 1fr));
  padding: 1rem 0;
  transition-duration: 400ms;
}
.experience-card{
  gap: 0.5rem;
}
.project-card{
  gap: 1rem;
}

.project-image-container{
  width: 200px;
  overflow: hidden;
  display: grid;
  place-items: center;
  aspect-ratio: 16 / 9;
  border-radius: 0.10rem;
  border: 1px solid #172554;
  order: 2;
}

.project-image-container img{
  
  width: 100%;
  height: 100%;
}



.tenure {
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.experience-card:hover{
  /* background-color: #222d47; */
  border-radius: 0.5rem; 
}

.experience-content,
.project-content{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.experience-content a h4{
  font-weight:600;
}
.experience-content a ,
.project-content a
{
  text-decoration: none;
}
.experience-content a h4:hover,
.project-content a h4:hover,
.anchor-text:hover{
  color: var(--color-accent);
  cursor: pointer;
}

.tags{
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tags button{
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  color: var(--color-accent);
  background-color: #033e3d;
  outline: none;
  border: none;
}

.view-full-container{
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  transition: 200ms;
}
.view-full {
  text-decoration: none;
  position: relative;
  
  
}

.view-full-container span{
  transition: 200ms;
}

.view-full-container:hover span{
  padding-left: 1rem;
}



.view-full::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: 100;
  background-color: transparent;
  transition: 200ms;
  
}

.view-full:hover::after{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--color-accent);
}



footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-link{
  text-decoration: none;
  color: var(--color-highlight);
}

.footer-link:hover{
  color: var(--color-accent);
}

footer p{
    font-size: 0.9rem;
}
.scroll-to-top{
  color: var(--color-accent);
  background-color: #033e3d;
  padding: 0.5rem;
  border-radius: 100%;
  transition: 200ms;
}

.scroll-to-top:hover {
    opacity: 0.6;
}